Repository EdPPF/CAMAAR, pull requests merged in 2024-06, with the labels that each got.

#32 Models Criadas
  camaar/app/models/formulario.rb
  camaar/app/models/materium.rb
  camaar/app/models/matricula.rb
  camaar/app/models/questao.rb
  camaar/app/models/resposta.rb
  camaar/app/models/template.rb
  camaar/app/models/turma.rb
  camaar/app/models/user.rb
  camaar/db/migrate/20240607203912_create_users.rb
  camaar/db/migrate/20240608163747_create_matriculas.rb
  camaar/db/migrate/20240608164515_create_materia.rb
  camaar/db/migrate/20240608165202_create_turmas.rb
  camaar/db/migrate/20240608165708_create_templates.rb
  camaar/db/migrate/20240608171354_create_formularios.rb
  camaar/db/migrate/20240608171835_create_questaos.rb
  camaar/db/migrate/20240608172544_create_resposta.rb
  camaar/db/schema.rb
  camaar/spec/factories/formularios.rb
  camaar/spec/factories/materia.rb
  camaar/spec/factories/matriculas.rb
  camaar/spec/factories/questaos.rb
  camaar/spec/factories/resposta.rb
  camaar/spec/factories/templates.rb
  camaar/spec/factories/turmas.rb
  camaar/spec/factories/users.rb
  camaar/spec/models/formulario_spec.rb
  camaar/spec/models/materium_spec.rb
  camaar/spec/models/matricula_spec.rb
  camaar/spec/models/questao_spec.rb
  camaar/spec/models/resposta_spec.rb
  camaar/spec/models/template_spec.rb
  camaar/spec/models/turma_spec.rb
  camaar/spec/models/user_spec.rb
Labels: Model

#33 Testes Rspec: EdPPF
  camaar/app/models/formulario.rb
  camaar/app/models/materia.rb
  camaar/app/models/materium.rb
  camaar/app/models/questao.rb
  camaar/app/models/template.rb
  camaar/app/models/turma.rb
  camaar/app/models/user.rb
  camaar/db/migrate/20240610164442_rename_columns_in_questaos.rb
  camaar/db/schema.rb
  camaar/spec/factories/formularios.rb
  camaar/spec/factories/materia.rb
  camaar/spec/factories/materias.rb
  camaar/spec/factories/questaos.rb
  camaar/spec/factories/resposta.rb
  camaar/spec/factories/templates.rb
  camaar/spec/factories/turmas.rb
  camaar/spec/models/formulario_spec.rb
  camaar/spec/models/materia_spec.rb
  camaar/spec/models/materium_spec.rb
  camaar/spec/models/matricula_spec.rb
  camaar/spec/models/questao_spec.rb
  camaar/spec/models/resposta_spec.rb
  camaar/spec/models/template_spec.rb
  camaar/spec/models/turma_spec.rb
  camaar/spec/models/user_spec.rb
Labels: Model, Rspec

#44 Controllers
  camaar/app/controllers/formularios_controller.rb
  camaar/app/controllers/materias_controller.rb
  camaar/app/controllers/matriculas_controller.rb
  camaar/app/controllers/questoes_controller.rb
  camaar/app/controllers/respostas_controller.rb
  camaar/app/controllers/templates_controller.rb
  camaar/app/controllers/turmas_controller.rb
  camaar/app/controllers/users_controller.rb
  camaar/app/helpers/formularios_helper.rb
  camaar/app/helpers/materias_helper.rb
  camaar/app/helpers/matriculas_helper.rb
  camaar/app/helpers/questoes_helper.rb
  camaar/app/helpers/respostas_helper.rb
  camaar/app/helpers/templates_helper.rb
  camaar/app/helpers/turmas_helper.rb
  camaar/app/helpers/user_helper.rb
  camaar/app/views/formularios/index.html.erb
  camaar/config/routes.rb
  camaar/spec/helpers/formularios_helper_spec.rb
  camaar/spec/helpers/materias_helper_spec.rb
  camaar/spec/helpers/matriculas_helper_spec.rb
  camaar/spec/helpers/questoes_helper_spec.rb
  camaar/spec/helpers/respostas_helper_spec.rb
  camaar/spec/helpers/templates_helper_spec.rb
  camaar/spec/helpers/turmas_helper_spec.rb
  camaar/spec/helpers/users_helper_spec.rb
  camaar/spec/requests/formularios_spec.rb
  camaar/spec/requests/materias_spec.rb
  camaar/spec/requests/matriculas_spec.rb
  camaar/spec/requests/questoes_spec.rb
  camaar/spec/requests/respostas_spec.rb
  camaar/spec/requests/templates_spec.rb
  camaar/spec/requests/turmas_spec.rb
  camaar/spec/requests/users_spec.rb
Labels: Controller, View

#55 Controllers + Rspecs
  camaar/app/controllers/turmas_controller.rb
  camaar/app/helpers/user_helper.rb
  camaar/app/helpers/users_helper.rb
  camaar/config/routes.rb
  camaar/db/schema.rb
  camaar/spec/requests/turmas_spec.rb
Labels: Rspec, Controller

#59 Mais Controllers e Rspecs
  camaar/app/controllers/formularios_controller.rb
  camaar/app/controllers/matriculas_controller.rb
  camaar/app/controllers/questoes_controller.rb
  camaar/app/controllers/respostas_controller.rb
  camaar/config/routes.rb
  camaar/spec/factories/users.rb
  camaar/spec/requests/formularios_spec.rb
  camaar/spec/requests/matriculas_spec.rb
  camaar/spec/requests/questoes_spec.rb
  camaar/spec/requests/respostas_spec.rb
Labels: Rspec, Controller

#61 Controller templates/rspec
  camaar/app/controllers/templates_controller.rb
  camaar/app/views/templates/edit.html.erb
  camaar/app/views/templates/index.html.erb
  camaar/app/views/templates/new.html.erb
  camaar/app/views/templates/show.html.erb
  camaar/config/routes.rb
  camaar/spec/requests/templates_spec.rb
Labels: Rspec, Controller

#62 Matriculas e Users Controllers + Rspecs
  camaar/Gemfile
  camaar/Gemfile.lock
  camaar/app/controllers/matriculas_controller.rb
  camaar/app/controllers/users_controller.rb
  camaar/app/models/user.rb
  camaar/app/serializers/user_serializer.rb
  camaar/config/routes.rb
  camaar/spec/factories/matriculas.rb
  camaar/spec/factories/users.rb
  camaar/spec/models/user_spec.rb
  camaar/spec/requests/matriculas_spec.rb
  camaar/spec/requests/users_spec.rb
Labels: Rspec, Controller

#73 materias controller e alguns testes
  camaar/app/controllers/materias_controller.rb
  camaar/app/views/materias/edit.html.erb
  camaar/app/views/materias/index.html.erb
  camaar/app/views/materias/new.html.erb
  camaar/spec/requests/materias_spec.rb
Labels: Rspec, Controller, View

#79 Adding gem rubycritic
  camaar/Gemfile
  camaar/Gemfile.lock
Labels: Teste
